@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import 'reset-css/reset.css';
@import 'react-toastify/dist/ReactToastify.css';

* {
  outline: none;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  padding: 0;
  box-sizing: border-box;
  margin: 0;
  transition: 0.3s ease;
}

html,
body,
#yield {
  height: 100%;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.icon {
  font-size: $h2FontSize;
  cursor: pointer;
}

img {
  width: 100%;
  height: auto;
}

.flex {
  display: flex;
  align-items: center;
}

.grid {
  display: grid;
  align-items: center;
  gap: 1.5rem;
}

.btn {
  border-radius: 8px;
  border: none;
  outline: none;
  cursor: pointer;
  box-shadow: 0 2px 4px $inputColor;
  padding: 0.8rem 1rem;
  color: $textColor;
}

.btn .icon {
  margin-left: 0.5rem;
}

.btn:hover {
  background: $paleGreen;
  color: $primary;
}

body {
  background: $background;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding: 1rem;

  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
}

.HomeView {
  position: relative;
  width: 95vw;
  height: 95vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: $bgColor;
  overflow: hidden;
  border-radius: 1rem;
  box-shadow: 2px 2px 8px $greyText;
}

::-webkit-scrollbar {
  display: none;
}

@media screen and (max-width: 990px) {
  .ListingSection {
    .heading {
      flex-direction: column;
      align-items: flex-start;
      gap: 1rem;
    }
  }
}

@media screen and (max-width: 918px) {
  .ListingSection {
    .heading {
      flex-direction: row;
      align-items: center;
      gap: 1rem;
    }
  }
}

@media screen and (max-width: 500px) {
  .ListingSection {
    .heading {
      flex-direction: row;
      align-items: flex-start;
      gap: 1rem;
    }
  }
}
