.ActivitySection {
  flex-basis: 50%;

  .heading {
    width: 100%;
    justify-content: space-between;

    h1 {
      font-size: $h2FontSize;
      color: $blackColor;
      font-weight: 700;

      .btn {
        border: 1px solid transparent;
      }

      .btn:hover {
        border: 1px solid $primary;
      }
    }
  }

  .secContainer {
    margin-top: 1rem;

    .singleCustomer {
      align-items: flex-start;
      justify-content: space-between;

      img {
        width: 40px;
        height: 40px;
        object-fit: cover;
        border-radius: 50%;
        box-shadow: 0 2px 4px $itemCardColor;
        margin-right: 1rem;
      }

      .customerDetails {
        flex: 1;

        .name {
          font-size: $h3FontSize;
          font-weight: 600;
          color: $blackColor;
          display: block;
        }

        small {
          font-weight: 500;
          color: $textColor;
          font-size: $smallFontSize;
        }
      }
      .duration {
        color: $textColor;
        font-weight: 500;
        font-size: $smallestFontSize;
      }
    }
  }
}

@media screen and (max-width: 918px) {
  .ActivitySection {
    width: 100%;
  }
}
