.sideBar {
  background: $whiteColor;
  box-shadow: 1px 0px 4px $greyText;
  width: 18%;
  height: 100%;
  gap: 3rem;
  overflow: auto;

  .logoDiv {
    pad: 1.5rem 1.5rem 0;
    cursor: pointer;

    img {
      max-width: 35px;
      margin-left: 1rem;
      background: $inputColor;
      border-radius: 2px;
      padding: 0.2rem;
    }

    h2 {
      font-size: $h2FontSize;
      color: $primary;
      font-weight: 600;
    }
  }
  .menuDiv,
  .settingsDiv {
    .divTitle {
      font-size: $h3FontSize;
      font-weight: 600;
      padding: 0 1.5rem 1.5rem;
    }

    .menuLists {
      .listItem {
        padding: 0.2rem 1.5rem;
        width: 100%;
        position: relative;

        &::before {
          position: absolute;
          content: '';
          height: 0%;
          left: 0;
          width: 5px;
          bottom: 0;
          border-top-right-radius: 10px;
          border-bottom-right-radius: 10px;
          background: $primary;
        }

        .menuLink {
          color: $greyText;
          font-weight: 500;
          transition: 0;
          .icon {
            margin-right: 0.5rem;
          }
        }
        &:hover .menuLink {
          color: $primary;
          transition: 0;
        }
        &:hover::before {
          height: 100%;
          transition: 0.3s ease;
        }
      }
    }
  }
  .sideBarCard {
    width: 100%;
    padding: 1rem;
    text-align: center;
    position: relative;

    .icon {
      position: absolute;
      background: $hoverColor;
      border: 10px solid $whiteColor;
      font-size: 3rem;
      border-radius: 50%;
      top: -8px;
      right: 50%;
      transform: translate(50%);
      z-index: 100;
    }

    .cardContent {
      position: relative;
      padding: 1rem;
      background: $hoverColor;
      border-radius: 10px;
      overflow: hidden;

      h3 {
        font-size: $h3FontSize;
        margin-top: 1rem;
        padding: 1rem 0;
        font-weight: 700;
        color: $blackColor;
      }

      p {
        font-size: $normalFontSize;
        color: $textColor;
        padding-bottom: 1rem;
        font-weight: 500;
      }

      .btn {
        position: relative;
        color: $textColor;
        z-index: 1000;
      }

      .circle1,
      .circle2 {
        position: absolute;
        background: $paleGreen;
        border-radius: 50%;
        opacity: 0.7;
      }

      .circle1 {
        height: 100px;
        width: 100px;
        top: -50px;
        left: -50px;
      }
      .circle2 {
        height: 150px;
        width: 150px;
        bottom: -80px;
        right: -70px;
      }
    }
  }
}

@media screen and (max-width: 820px) {
  .sideBar {
    padding-bottom: 2rem;
    .sideBarCard {
      display: none !important;
    }
  }
}

@media screen and (max-width: 745px) {
  .sideBar {
    .logoDiv {
      text-align: center;
      margin: auto;
      padding: 1.5rem 0.5rem 0;

      img {
        max-width: 50px;
        margin: 0;
        border-radius: 10px;
        padding: 0.5rem;
      }

      h2 {
        display: none;
      }
    }
    .menuDiv,
    .settingsDiv {
      .divTitle,
      .smallText {
        display: none;
      }

      .menuLink {
        .listItem {
          .menuLink {
            justify-content: center;

            .icon {
              font-size: $h1FontSize;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 390px) {
  .sideBar {
    .menuDiv,
    .settingsDiv {
      .menuLists {
        .listItem {
          padding: 0.2rem 0.5rem;

          .menuLink {
            justify-content: center;

            .icon {
              font-size: $h2FontSize;
            }
          }
        }
      }
    }
  }
}
