.ListingSection {
  flex-basis: 70%;

  .heading {
    width: 100%;
    justify-content: space-between;

    h1 {
      font-size: $h2FontSize;
      color: $blackColor;
      font-weight: 700;
    }
    .btn {
      border: 1px solid transparent;
      font-weight: 500;
    }
    .btn:hover {
      border: 1px solid $primary;
    }
  }
  .secContainer {
    width: 100%;
    margin: 1rem 0;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: space-between;

    .singleItem {
      position: relative;
      width: 150px;
      height: 170px;
      display: flex;
      align-items: center;
      flex-direction: column;
      padding: 1rem;
      border-radius: 10px;
      background: $itemCardColor;

      &:hover {
        background: $itemCardHover;
        box-shadow: 0 2px 2px $inputColor;
      }
      img {
        max-width: 100px;
      }

      .icon {
        position: absolute;
        top: 10px;
        right: 10px;
        color: $primary;
      }

      h3 {
        font-size: $h3FontSize;
        color: $blackColor;
        padding: 1rem 0;
      }
    }
  }
  .sellers {
    width: 100%;
    justify-content: space-between;
    gap: 1rem;
    align-items: flex-start;

    .topSellers,
    .featuredSellers {
      .heading {
        padding: 1rem 0;

        .btn {
          padding: 0.5rem 1rem;
        }
      }
      .card {
        padding: 1rem 1.5rem;
        border-radius: 1rem;
        background: $whiteColor;
        gap: 1rem;
        box-shadow: 0 2px 4px $inputColor;

        .users {
          padding-right: 1rem;
          border-right: 2px solid $greyText;

          img {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            object-fit: cover;
            border: 2px solid $inputColor;
            transition: 0.5 ease;

            &:hover {
              transform: translateY(-10px);
            }
          }
        }

        .cardText {
          color: $blackColor;
          font-weight: 500;

          small {
            font-weight: 400;
            .date {
              margin-left: 1rem;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 990px) {
  .ListingSection {
    .sellers {
      .card {
        flex-direction: column;
      }
    }
  }
}

@media screen and (max-width: 918px) {
  .ListingSection {
    .singleItem {
      width: 200px !important;
    }
  }
}

@media screen and (max-width: 490px) {
  .ListingSection {
    .sellers {
      flex-direction: column;
      .card {
        flex-direction: row;
      }
    }
  }
}
