$white: #fff;
$black: #000000;
$primary: hsl(278, 27%, 29%);
$hoverColor: #9d94f0;
$paleGreen: hsl(324, 75%, 89%);
$whiteColor: hsl(0, 0%, 100%);
$blackColor: hsl(0, 0%, 18%);
$textColor: hsl(240, 5%, 39%);
$bgColor: hsl(220, 10%, 94%);
$greyText: rgb(190, 190, 190);
$secondary: #daeaef;
$active: #1c3d44;
$inputColor: hsl(330, 12%, 97%);
$background: #a998f5;
$itemCardColor: hsl(191, 26%, 79%);
$itemCardHover: hsl(177, 34%, 65%);
